#template{
	display:none;
}
.movieDiv{
	width:800px;
	height:75px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid black;
	border-radius:5px;
	display:flex;
	align-items:  center;
	flex-direction: row;
}

.imgDiv>img{
	height:100%;
	width:auto;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
.movieDiv div{
	display:inline-block;
}
.imgDiv{
	height:75px;
	width:7.5%;
}
.ratingDiv{
	width:8%;
	font-size:14px;
	text-align: center;
}
.plotDiv{
	width:60%;
}
.reviewDiv{
	width:15%;
	font-size:10px;
	text-align: center;
}
.reviewDiv div{
	width:28%;
	padding-left:3.5%;
	padding-right:3.5%;
	text-align: center;
}
.raterText{
	font-size:6px;
}
.ratingPic{
	display: block;
	height:20px;
	width: auto;
	margin-left:auto;
	margin-right:auto;
}
#metacriticDiv{
	width:100%;
	margin-top:5px;
}